## Iteradores e iterables

1) A partir de una lista vacía, utilizar un ciclo while para cargar allí números negativos del -15 al -1

[-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

2) ¿Con un ciclo while sería posible recorrer la lista para imprimir sólo los números pares?

-14
-12
-10
-8
-6
-4
-2

3) Resolver el punto anterior sin utilizar un ciclo while

[]

4) Utilizar el iterable para recorrer sólo los primeros 3 elementos

1
2
3

5) Utilizar la función **enumerate** para obtener dentro del iterable, tambien el índice al que corresponde el elemento

0 1
1 2
2 3
3 4
4 5

6) Dada la siguiente lista de números enteros entre 1 y 20, crear un ciclo donde se completen los valores faltantes: lista = [1,2,5,7,8,10,13,14,15,17,20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

7) La sucesión de Fibonacci es un listado de números que sigue la fórmula: <br>
n<sub>0</sub> = 0<br>
n<sub>1</sub> = 1<br>
n<sub>i</sub> = n<sub>i-1</sub> + n<sub>i-2</sub><br>
Crear una lista con los primeros treinta números de la sucesión.<br>

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

8) Realizar la suma de todos elementos de la lista del punto anterior

2178308

9) La proporción aurea se expresa con una proporción matemática que nace el número irracional Phi= 1,618… que los griegos llamaron número áureo. El cuál se puede aproximar con la sucesión de Fibonacci. Con la lista del ejercicio anterior, imprimir el cociente de los últimos 5 pares de dos números contiguos:<br>
Donde i es la cantidad total de elementos<br>
n<sub>i-1</sub> / n<sub>i</sub><br>
n<sub>i-2</sub> / n<sub>i-1</sub><br>
n<sub>i-3</sub> / n<sub>i-2</sub><br>
n<sub>i-4</sub> / n<sub>i-3</sub><br>
n<sub>i-5</sub> / n<sub>i-4</sub><br>

1.6176470588235294
1.6181818181818182
1.6179775280898876
1.6180555555555556
1.6180257510729614

10) A partir de la variable cadena ya dada, mostrar en qué posiciones aparece la letra "n"<br>
cadena = 'Hola Mundo. Esto es una practica del lenguaje de programación Python'

7 n
21 n
39 n
60 n
67 n

11) Crear un diccionario e imprimir sus claves utilizando un iterador

['Matematicas', 'Lengua', 'Ingles', 'Filosofia']

12) Convertir en una lista la variable "cadena" del punto 10 y luego recorrerla con un iterador

H
o
l
a
u
n
d
o
.
s
t
o
s
n
a
r
a
c
t
i
c
a
e
l
e
n
g
u
a
j
e
e
r
o
g
r
a
m
a
c
i
ó
n
y
t
h
o
n

13) Crear dos listas y unirlas en una tupla utilizando la función zip

(('Naza', 'enano'), ('Nacho', 'pelado'), ('Enzo', 'gordo'))
('enano', 'pelado', 'gordo')

14) A partir de la siguiente lista de números, crear una nueva sólo si el número es divisible por 7<br>
lis = [18,21,29,32,35,42,56,60,63,71,84,90,91,100]

[21, 35, 42, 56, 63, 84, 91]

15) A partir de la lista de a continuación, contar la cantidad total de elementos que contiene, teniendo en cuenta que un elemento de la lista podría ser otra lista:<br>
lis = [[1,2,3,4],'rojo','verde',[True,False,False],['uno','dos','tres']]

5
12

16) Tomar la lista del punto anterior y convertir cada elemento en una lista si no lo es

[[1, 2, 3, 4], 'rojo', 'verde', [True, False, False], ['uno', 'dos', 'tres']]

In [ ]:
paises = ['Argentina','Francia','Brasil','Italia','Japon']
capitales = ['Buenos Aires','Paris','Rio de Janeiro','Roma','Tokio']
c = zip(paises,capitales)
dict(c) #El zip hay que imprimirlo despues de haberlo hecho
        # un iterable (lis,tuple,dict)

{'Argentina': 'Buenos Aires',
 'Francia': 'Paris',
 'Brasil': 'Rio de Janeiro',
 'Italia': 'Roma',
 'Japon': 'Tokio'}

In [ ]:
frase = "Tres tristes tigres come trigo en un trigal"
erres = [i for i in frase if i == 'r']
print(erres)
num_erres = frase.count('r')
print(num_erres)

['r', 'r', 'r', 'r', 'r']
5

In [ ]:
mi_lista = [1,2,3,4,5,6]
mi_lista.remove(4)
mi_lista.pop(0)

print(mi_lista)

[2, 3, 5, 6]

In [ ]:
mi_set = {2,3,4,5,6}

print(type(mi_set))

<class 'set'>

In [ ]:
from collections import deque

mi_cola = deque([10, 20, 30, 40, 50])

print(type(mi_cola))

<class 'collections.deque'>