## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [87]:
x = 7
print(x)

7

2) Imprimir el tipo de dato de la constante 8.5

In [6]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = "Nazareno"

5) Crear una variable que contenga un número complejo

In [92]:
n_complejo = 5 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [102]:
pi = 3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
t = 'True'
v = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(t))
print(type(v))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [93]:
x_decimal = x + 8.5
print(x_decimal)

15.5

11) Realizar una operación de suma de números complejos

In [98]:
numeroc1 = 2 - 3j
print (n_complejo + numeroc1)

(7-2j)

12) Realizar una operación de suma de un número real y otro complejo

In [103]:
n_complejo += 5.14
print(n_complejo)

(20.14+1j)

13) Realizar una operación de multiplicación

In [ ]:
mult = 3
mult*=4
print(mult)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
dosALaOct = 2 **8
print(dosALaOct)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
cociente= 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [45]:
punto16= int(cociente)
print(punto16)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
punto17=27 % 4
print(punto17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [47]:
print((punto16 *4) + punto17)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [54]:
z = 0
print(x + z)

7

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [105]:
punto20= 2 == "2"
print(punto20)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [63]:
print(not(punto20))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8') #produce error porque '3,8' es un string no un float 
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [73]:
v1= 3
v1 -=1
print(v1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
print( 1 << 2) # Porque desplaza el numero de bits por tantas < tenga. Es decir el 1 = 0001 se desplaza a la izq 2 veces
                # conviertiendolo en 0100 = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
print(2 + '2') # Porque son dos tipos diferentes el primero es un int y el segundo un str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [86]:
frase= "Hola Mundo ,"
print(frase *7 + "Hola Mundo")

Hola Mundo ,Hola Mundo ,Hola Mundo ,Hola Mundo ,Hola Mundo ,Hola Mundo ,Hola Mundo ,Hola Mundo